.heading{
    color: rgb(216, 31, 31);
    font-size: bolder;
}
.paragraph-1{
    font-family: sans-serif;
    color: crimson;
    font-size: bold;
}
body{
    background-image: url(./birhday.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}